a.cover {
    text-decoration: underline;
}

        html {
    background-image: url(../bg.html)
}

body {
    width: 600px;
    margin: 0 auto;
    padding: 0px 30px 20px;
    border: 3px solid rgb(23, 14, 14);
    background: linear-gradient(to right, #a08798, #628c98);
}

ul {
    border: 1px solid black;  
   
}

p {
    font-size: 20px;
    color: rgb(4, 2, 2);
}

h1, h2, h3 {
    font-size: 20px; 
}

body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    transition: background-color 0.5s, color 0.5s;
}